#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}


.App{
   color: white;
  display: grid;
  max-height: 100vh;
  overflow: hidden;
  grid-template-columns: 1fr 1fr;
}

.pokemon-list {
  
  margin-top: 40px;
  max-height: calc(100vh - 40px);
  
  overflow-y: scroll;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  gap : 10px;
}



.pokemon-detail{
  max-height: 90vh;
  overflow-y: auto;
  padding-right:10px;
}

.pokemon-card
{
 background-color: black;
 display: flex;
 max-height: 120px;
 justify-content: space-between;

}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
